@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.header {
  background-color: #222;
  font-weight: 500;
  padding: 20px;
}
main{
  margin: 50px 100px;
  width: 80%;
  float: left;
}
aside{
  width: 20%;
  float: left;
}
.cart-container{
  display: flex;
}
.cart{
  width: 40%;
  margin-left: 20px;
  padding: 10px;
  background-color: rgb(5, 91, 91);
  border-radius: 5px;
}
